name: Lint

on:
  pull_request:
    branches-ignore:
      - "renovate/**"
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
      - run: corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm prettier -c
